@import "tailwindcss";

@theme {
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-accent: #8b5cf6;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: var(--color-neutral-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
